
# =========================
# Directories potentially created on remote AFP share
# Files that might appear in the root of a volume
# Folder config file
# OSX
# Operating System Files
# R Studio files
# Recycle Bin used on file shares
# Thumbnails
# Windows Installer files
# Windows image file caches
# Windows shortcuts
$RECYCLE.BIN/
*.cab
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.lnk
*.mdb
*.msi
*.msm
*.msp
*.shp*
*.shx
*.xls*
*_files
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.fseventsd
.httr-oauth
/Meta/
/doc/
CRAN-SUBMISSION
Desktop.ini
Meta
Network Trash Folder
Temporary Items
Thumbs.db
doc
docs
ehthumbs.db
inst/doc
libs
output
renv/library
revdep/checks
revdep/checks.noindex
revdep/data.sqlite
revdep/library
revdep/library.noindex
